version: '3.8'

services:
  nginx-proxy:
    image: nginx:latest
    container_name: nginx-cdn-proxy
    ports:
      - "70:80"  # 宿主机70端口映射到容器80端口
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - ./nginx/server:/etc/nginx/server
    environment:
      NGINX_HOST: localhost
      NGINX_PORT: 80
    restart: unless-stopped
    extra_hosts:
      - host.docker.internal:host-gateway
    networks:
      - 1panel-network

networks:
    1panel-network:
        external: true

volumes:
  nginx-data:
    driver: local